Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  clang-analyzer-*,
  -readability-identifier-length,

HeaderFilterRegex: '^src/.*'
